
* { margin: 0; padding: 0; outline: 0; }

body {
	background: #caced1;
	font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;
	color: #000;
	text-align: center;
	margin: 15px 0;
}



/* start - table */
.tbl {
	border-collapse: collapse;
}
.tbl th strong {
	color: #fff;
}
.tbl th {
	background: #306bc1 repeat-x 0 0; 
	height: 35px;
	padding-left: 3px;
	padding-right: 3px;
	color: #fff;
	text-align: left;
	border: 1px solid #306bc1;
	border-bottom-width: 2px;
}
.tbl tr {
	height: 32px;
	background: #fff;	
}
.tbl td {
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #E5F0FB; 
}


/********************************************
   LAYOUT
********************************************/ 
#wrap {
    width: 1150px;
	background: #FFF;
	margin: 0 auto;
	text-align: left;
}
#content-wrap {
	clear: both;
	width: 1150px;	
	margin: 5px auto;
	padding: 0; 	
}
#header {
	position: relative;
	height: 131px;
    background: #306bc1 repeat-x 0 0;
	padding: 0;	
	color: #fff;	
}
#header h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 55px 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -3px;
	color: #fff;
	text-transform: none;
	text-decoration: none;
	background: transparent;
	top: 18px; left: 35px;	
}


/* navigation */
#menu {
	clear: both;	
	margin: 0 auto; padding: 0;
	background: #81C524;	
	font: bold 14.5px/50px "trebuchet MS", Arial, Tahoma, Sans-serif;
	height: 50px;
	width: 1150px;	
}


#menu ul {
	float: left;
	list-style: none;
	margin:0; padding: 0 0 0 20px;
}
#menu ul li {
	display: inline;
}
#menu ul li a {
	display: block;
	float: left;
	padding: 0 6px;
	color: #fff;	
	text-decoration: none;
	background: no-repeat 100% 100%;
}
#menu ul li a:hover {
	color: #3b5e0b;	
}
#menu ul li.current a {	
	color: #3b5e0b;
}


/* Main Column */
#main {
	float: left;
	width: 1100px;
	margin: 20px 20px 20px 20px;
	display: inline;
	min-height: 500px;
        background: none repeat scroll 0 0 #F4F8FD;
        border: 1px solid #E5F0FB;
}


/* Footer */	
#footer {
	color: #C6DDEE;
	background: #306bc1 repeat-x center top;
	clear: both;
	width: 1150px;
	height: 57px;
	text-align: center;	
	font-size: 90%;	
}
#footer p { 
	padding: 15px 0;
	margin: 0;
}
